.vscode/**
.vscode-test/**
out/test/**

renderer/**
app/**
src/**

test/**
node_modules/**
.git/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prettierrc
screenshot.gif
webpack-*.js
build.js

*.vsix
